.head
  .ear
  .ear
  .moon
    .moon--inner
  .eye--left
    .pupil
      .pupil--inner
      .pupil--small
  .eye--right
    .pupil
      .pupil--inner
      .pupil--small
  .whiskers
    .whisker 
    .whisker
    .whisker