.head
  .ear--left
    .ear--left--inner
  .ear--right
    .ear--right--inner
  .head__inner
  .eye--left
  .eye--right
  .jaw
    .nose
    .nose--left
    .nose--right
    .mouth
    .mouth--horizontal
    .teeth--left
    .teeth--right
    .tail
  .leg--left
  .leg--right
      
    